<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body
    style="font-family: Avenir, Helvetica, sans-srif; box-sizing: border-box; background-color: #f5f8fa; color: #74787e; height: 100%; hyphens: auto; line-height: 1.4; margin: 0; -moz-hyphens: auto; -ms-word-break: break-all; width: 100% !important; -webkit-hyphens: auto; -webkit-text-size-adjust: none; word-break: break-word;">
    <style>
        @media only screen and (max-width: 600px) {
            .inner-body {
                width: 100% !important;
            }

            .footer {
                width: 100% !important;
            }
        }

        @media only screen and (max-width: 500px) {
            .button {
                width: 100% !important;
            }
        }

    </style>
    <table class="wrapper" width="100%" cellpadding="0" cellspacing="0"
        style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #f5f8fa; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
        <tr>
            <td align="center" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                <table class="content" width="100%" cellpadding="0" cellspacing="0"
                    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                    <tr>
                        <td class="header"
                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 25px 0; text-align: center;">
                            <a href="#"
                                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #000; font-size: 19px; font-weight: bold; text-decoration: none; text-shadow: 0 1px 0 #ffffff;">
                                <img src="{{ url('images') }}/certi-logo.png">
                            </a>
                        </td>
                    </tr>
                    <!-- Email Body -->
                    <tr>
                        <td class="body" width="100%" cellpadding="0" cellspacing="0"
                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; border-bottom: 1px solid #edeff2; border-top: 1px solid #edeff2; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                            <table class="inner-body" align="center" width="570" cellpadding="0" cellspacing="0"
                                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; margin: 0 auto; padding: 0; width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px;">
                                <!-- Body content -->
                                <tr>
                                    <td class="content-cell"
                                        style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 35px;">
                                        <h1
                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 19px; font-weight: bold; margin-top: 0; text-align: left;">
                                            Dear {{ ucfirst($first_name) }},</h1><br/><br/>
                                        <p
                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                                            Welcome to {{env('SITE_NAME')}}! Your profile has been successfully activated. You may
                                            now login at <a href={{ env('SITE_URL') }}
                                                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #3869d4;">{{ env('SITE_URL') }}</a>.
                                            Below is your login information:</p>
                                        <div class="table"
                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                            <table
                                                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                                                <tbody
                                                    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                                    <tr>
                                                        <td
                                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 15px; line-height: 18px; padding: 10px 0;">
                                                            &bull; <Strong>Site for training:</Strong> <a
                                                                href="{{ env('SITE_URL') }}"
                                                                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #3869d4;">{{ env('SITE_URL') }}</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td
                                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 15px; line-height: 18px; padding: 10px 0;">
                                                            &bull; <strong>Email address:</strong> {{ $email }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td
                                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 15px; line-height: 18px; padding: 10px 0;">
                                                            &bull; <strong> Username: </strong> {{ $email }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td
                                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 15px; line-height: 18px; padding: 10px 0;">
                                                            &bull; <strong> Password: </strong> {{ $access_code }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br/><br/>
                                        <h3
                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 14px; font-weight: bold; margin-top: 0; text-align: left;">
                                            <strong>Getting Started:</strong>
                                        </h3>

                                        <div class="table"
                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                            <table
                                                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                                                <tbody
                                                    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                                    <tr>
                                                        <td
                                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 15px; line-height: 18px; padding: 10px 0;">
                                                            &bull; Login with your Username and Password </td>
                                                    </tr>
                                                    <tr>
                                                        <td
                                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 15px; line-height: 18px; padding: 10px 0;">
                                                            &bull; Watch our <strong> Site Navigation Tutorial Video
                                                            </strong> on your dashboard (for an overview and
                                                            step-by-step instructions on managing your company account,
                                                            adding employees, assigning courses, and much more.)</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <h3
                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 14px; font-weight: bold; margin-top: 0; text-align: left;">
                                            <strong>Adding Employees:</strong>
                                        </h3>

                                        <div class="table"
                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                            <table
                                                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                                                <tbody
                                                    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                                    <tr>
                                                        <td
                                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 15px; line-height: 18px; padding: 10px 0;">
                                                            &bull; To add employee, login and go to companies section.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td
                                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 15px; line-height: 18px; padding: 10px 0;">
                                                            &bull; Click the <b> Add User </b> button to add single and
                                                            multiple employees. </td>

                                                    </tr>
                                                    <tr>
                                                        <td
                                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 15px; line-height: 18px; padding: 10px 0;">
                                                            &bull; Mandatory fields are: name, user type, job title,
                                                            location,
                                                            and select the courses required to
                                                            assign to employee. </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <h3
                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 14px; font-weight: bold; margin-top: 0; text-align: left;">
                                            <strong>Mass Importing:</strong>
                                        </h3>
                                        <p>
                                            To add all your employees at once, download the formate by clicking the
                                            <b>CLICK HERE</b> button and fill out the Excel spreadsheet
                                            with as much information as possible (<b>mandatory</b> fields are: Mandatory
                                            fields are: name, user type, job title,
                                            location,) and send it to
                                            {{ env('MAIL_SUPPORT') }}. We suggest using the email address for the username.
                                            If the user doesn’t have an email address, we suggest using this format:
                                            firstname.lastname.location - For example, jane.smith.burgerking.
                                            The format must be followed exactly.

                                        </p>
                                        <br>
                                        <p>
                                            Please make sure you include email
                                            addresses of each employee so that they will be able to receive the email
                                            training notifications. If your employee does NOT have an email address, we
                                            can still sign them up, but you will have to verbally tell them their login
                                            information and when courses are due.
                                        </p>
                                        <br>
                                        <p> Should you have any further questions, please contact us at
                                            {{ env('MAIL_SUPPORT') }} or call
                                            844.998.7246. Thank you again for your business!</p>
                                        <br>
                                        <p>Serve wise,
                                        </p>
                                        <p><b>The {{ env('SITE_NAME') }} Team</b></p>
                                        <p>{{ env('SITE_URL') }}</p>
                                        <br><br>
                                        <p
                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                                            <strong>Note:</strong>  Please do not reply to this email.  Please send all
                                            responses to <a target="_blank"
                                                href="mailto: {{ env('MAIL_SUPPORT') }}">{{ env('MAIL_SUPPORT') }}</a>.
                                            <!-- or use the <a target="_blank"
                                                href="http://v2.zopim.com/widget/livechat.html?key=3hKW6US6uWjWb7mqxSvzlIU2mc7PgHNJ&mid=dDfwUQ2HDWWPkp&lang=en&hostname=www.homeoftraining.com&api_calls=%5B%5D">
                                                Live Chat </a> feature on our homepage.  -->
                                        </p>
                                        <p
                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                                            <strong>E-mail sent on:</strong> {{ $email }}
                                        </p>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                            <table class="footer" align="center" width="570" cellpadding="0" cellspacing="0"
                                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0 auto; padding: 0; text-align: center; width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px;">
                                <tr>
                                    <td class="content-cell" align="center"
                                        style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 35px;">
                                        <p
                                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; line-height: 1.5em; margin-top: 0; color: #aeaeae; font-size: 12px; text-align: center;">
                                            © 2020 {{ env('SITE_NAME') }}. All rights reserved</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
