.testimonials-content .slick-next.slick-arrow {
    top: 185px;
}
.ovr-fill{
    height: 329px;
}
form#login-form {
    display: flex;
    justify-content: flex-end;
}
.subbtn {
    width: 40%;
    font-size: 15px;
}
.pc-itme-content {
    height: 306px;
    padding: 30px 30px 0px 30px;
}
.accesspage {
    min-height: calc(100vh - 373px);
}